<!-- <script id="home.html" type="text/ng-template"> -->
  <ion-view>
    <ion-header-bar class="bar-header">
        <h1 class="title">SpotMe</h1>
    </ion-header-bar>
    <ion-content has-header="true" padding="true">
      <h3 class="center">Create Your Profile</h3>
      <div class="center"><img class= "profile_profilePic" src="../img/dummy_pic.jpg"></div>

      <!-- Name Input -->
      <div class="row">
        <div class="form-group col-xs-6">
          <label for="firstname" class="sr-only">
            <input id="firstname" class="form-control input-group-lg reg_name" type="text" name="firstname"
            title="Enter first name" ng-model="formData.firstName"
            placeholder="First Name"/>
          </label>
        </div>
        <div class="form-group col-xs-6">
          <label for="lastname" class="sr-only">
            <input id="lastname" class="form-control input-group-lg reg_name" type="text" name="lastname"
            title="Enter last name" ng-model="formData.lastName"
            placeholder="Last Name"/>
          </label>
        </div>
      </div>

      <!-- University Input -->
      <div class="row">
        <div class="form-group col-xs-6">
            <label for="lastname" class="sr-only">
              <input name="University" type="text" title="Enter university" ng-model="formData.school"
              placeholder="University"/>
            </label>
        </div>
        <div class="form-group col-xs-6">
            <label for="age" class="sr-only">
              <input name="Age" type="text" title="Enter age" ng-model="formData.age" placeholder="Age"/>
              </br>
            </label>
        </div>
      </div>

      <div class="pad-item"><label>Where are you today?</label></div>
      <div class="list">
    <div>
      <label>
      <select>
        <option selected>Height</option>
        <option>6.0</option>
        <option>6.1</option>
        <option>6.2</option>
      </select>
      </label>
      <label for="cb" class="pure-checkbox right-align">
        <input id="cb" type="checkbox" style="float: left; margin-top: 5px;"><div style="margin-left: 25px;">Do not show on profile</div>
      </label>
    </div>

    <div>
      <label>
        <select>
          <option selected>Weight</option>
          <option>170</option>
          <option>180</option>
          <option>190</option>
        </select>
      </label>
      <label for="cb" class="pure-checkbox right-align">
        <input id="cb" type="checkbox" style="float: left; margin-top: 5px;"><div style="margin-left: 25px;">Do not show on profile</div>
      </label>
    </div>

    </br>
    <div class="pad-item"><label>Fitness Level</label></div>
    <div>
      <ul>
        <form action="">
          <input type="radio" name="FitnessLevel" value="Beginner"> Begineer<br>
          <input type="radio" name="FitnessLevel" value="Intermediate"> Intermediate<br>
          <input type="radio" name="FitnessLevel" value="Advanced"> Advanced<br>
        </form>
      </ul>
    </div>


        <div class="pad-item"></div>
        <div class="list">
          <div>
            <label>
              <select>
                <option selected>Goal Weight</option>
                <option>160</option>
                <option>170</option>
                <option>180</option>
                <option>190</option>
              </select>
            </label>
            <label for="cb" class="pure-checkbox right-align">
              <input id="cb" type="checkbox" style="float: left; margin-top: 5px;"><div style="margin-left: 25px;">Do not show on profile</div>
            </label>
          </div>
        </div>

          </br>
          <div class="pad-item"><label>Where do you want to be?</label></div>
          <div class="list">
            <ul>
              <form action="">
                <input type="radio" name="FitnessGoals" value="Overall Health & Wellness"> Overall Health & Wellness<br>
                <input type="radio" name="FitnessGoals" value="Build Muscle Mass"> Build Muscle<br>
                <input type="radio" name="FitnessGoals" value="Lose Weight"> Lose Weight<br>
              </form>
            </ul>
          </div>

    <a class="button icon-right ion-chevron-right button-calm" ng-submit="processForm()" style="float: right";>Submit</a>
