<!-- <script id="home.html" type="text/ng-template"> -->
  <ion-view>
    <ion-header-bar class="bar-header">
        <h1 class="title">SpotMe</h1>
    </ion-header-bar>    
    <ion-content has-header="true" padding="true">
      <h3 class="center">create your profile</h3>
      <div class="center"><img class= "profile_profilePic" src="../img/dummy_pic.jpg"></div>
      <div class="profile_nameLbl"><label>Name placeholder</label></div>
      <div class="profile_universityLbl"><label>Uni placeholder</label></div>
      <div class="pad-item"><label>Where are you today?</label></div>
      <div class="list">
    <div>
      <label>
      <select>
        <option selected>Height</option>
        <option>6.0</option>
        <option>6.1</option>
        <option>6.2</option>
      </select>
      </label>
      <label for="cb" class="pure-checkbox right-align">
        <input id="cb" type="checkbox" style="float: left; margin-top: 5px;"><div style="margin-left: 25px;">Do not show on profile</div>
      </label>
    </div>

    <div>
      <label>
        <select>
          <option selected>Weight</option>
          <option>170</option>
          <option>180</option>
          <option>190</option>
        </select>
      </label>
      <label for="cb" class="pure-checkbox right-align">
        <input id="cb" type="checkbox" style="float: left; margin-top: 5px;"><div style="margin-left: 25px;">Do not show on profile</div>
      </label>
    </div>
    <div class="pad-item"><label>Fitness Level</label></div>
    <div>
      <ul>
      <input type="radio" id="f-option" name="selector">
          <label for="f-option">a</label>
        <li>
          <input type="radio" id="f-option" name="selector">
          <label for="f-option">a</label>
          
          <div class="check"></div>
        </li>
        
        <li>
          <input type="radio" id="s-option" name="selector">
          <label for="s-option">b</label>
          
          <div class="check"><div class="inside"></div></div>
        </li>
        
        <li>
          <input type="radio" id="t-option" name="selector">
          <label for="t-option">c</label>
          
          <div class="check"><div class="inside"></div></div>
        </li>
      </ul>
<!--         <ion-radio ng-repeat="item in fitness_level"
                   ng-value="item.value"
                   ng-model="data.fitness_level">
          {{ item.text }}
        </ion-radio> -->
    </div>
<!--       <div class="nextBtn">
        <a class="button icon-right ion-chevron-right center" href="#/second">Next</a> -->
        <button class="button button-light button-circular">Next</button>
      </div>
    </ion-content>
  </ion-view>
<!-- </script>
<script id="second.html" type="text/ng-template"> -->
<!--   <ion-view>
    <ion-header-bar class="bar-header">
        <h1 class="title">Second Page</h1>
    </ion-header-bar>        
    <ion-content has-header="true" padding="true">
      <a class="button icon-left ion-home" href="#/">Go back!</a>
    </ion-content>
  </ion-view> -->
<!-- </script>   -->