<!-- <script id="home.html" type="text/ng-template"> -->
  <link href="http://code.ionicframework.com/1.0.0/css/ionic.min.css" rel="stylesheet">
  <script src="http://code.ionicframework.com/1.0.0/js/ionic.bundle.js"></script>
  <ion-view>
    <ion-header-bar class="bar-header bColorMain">
      <button class="button icon-left ion-chevron-left button-clear button-dark" ui-sref="createProfile";>Back</button>
      <h1 class="title">Pairing Mode</h1>
    </ion-header-bar>
    <ion-content class="bColor" has-header="true" padding="true">
      <form id="pairing-mode" ng-submit="processPairingForm()">

    </br>

    <div class="pad-item"><h3>Who would you like to workout with?</h3></div>
      <div class="list">
        <label class="item item-radio">
          <input type="radio" name="group">
          <div class="item-content">
             Male
           </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-radio">
          <input type="radio" name="group">
          <div class="item-content">
             Female
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-radio">
           <input type="radio" name="group">
           <div class="item-content">
              Both
           </div>
           <i class="radio-icon ion-checkmark"></i>
        </label>
      </div>

    </br>

    <div class="pad-item"><h3>When would you like to workout?</h3></div>
      <div class="list">
        <label class="item item-radio">
          <input type="radio" name="group">
          <div class="item-content">
             As Soon As Possible
           </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-radio">
          <input type="radio" name="group">
          <div class="item-content">
             Tomorrow
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-radio">
           <input type="radio" name="group">
           <div class="item-content">
              This Week
           </div>
           <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-radio">
           <input type="radio" name="group">
           <div class="item-content">
              Specific Day
           </div>
           <i class="radio-icon ion-checkmark"></i>
        </label>
      </div>

    </br>

    <div class="pad-item"><h3>If on a specific day, when?</h3></div>
    <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">Month</div>
          <select ng-model="formData.month" ng-options="x for x in months">
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">Day</div>
          <select ng-model="formData.day" ng-options="x for x in days">
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">Year</div>
          <select ng-model="formData.year" ng-options="x for x in years">
          </select>
        </label>
    </div>

         <button type="submit" class="button icon-right ion-chevron-right button-clear button-dark" style="float: right" ui-sref="mainMenu";>Next</button>

      </form>
    </ion-content>
  </ion-view>