<!-- <script id="home.html" type="text/ng-template"> -->
  <ion-view>
    <ion-header-bar class="bar-header">
        <h1 class="title">SpotMe</h1>
    </ion-header-bar>
    <ion-content has-header="true" padding="true">
      <form id="pairing-mode" ng-submit="processPairingForm()">
      <h3 class="center">Pairing Mode</h3>

    </br>

    <div class="pad-item"><label>Who would you like to workout with?</label></div>
          <ion-list [ng-model]="formData.genderPreference">
            <div>
            <li class="item item-checkbox">
               Male
               <label class="checkbox">
               <input type="checkbox">
               </label>
            </li>
            <li class="item item-checkbox">
               Female
               <label class="checkbox">
               <input type="checkbox">
               </label>
            </li>
            <li class="item item-checkbox">
               Both
               <label class="checkbox">
               <input type="checkbox">
               </label>
            </li>
            </div>
          </ion-list>
    </br>

    <div class="pad-item"><label>When would you like to workout?</label></div>

        <ion-list ng-model="formData.workoutTime">
          <li class="item item-checkbox">
            ASAP
            <label class="checkbox">
              <input type="checkbox">
            </label>
          </li>
          <li class="item item-checkbox">
            Tomorrow
            <label class="checkbox">
              <input type="checkbox">
            </label>
          </li>
          <li class="item item-checkbox">
            This Week
            <label class="checkbox">
              <input type="checkbox">
            </label>
          </li>
        </ion-list>

        <button type="submit" class="button icon-right ion-chevron-right button-calm" style="float: right";>Done</button>
      </form>
    </ion-content>
  </ion-view>
