<!-- <script id="home.html" type="text/ng-template"> -->
  <link href="http://code.ionicframework.com/1.0.0/css/ionic.min.css" rel="stylesheet">
  <script src="http://code.ionicframework.com/1.0.0/js/ionic.bundle.js"></script>
  <ion-view>
    <ion-header-bar class="bar-header bColorMain">
        <h1 class="title">Pairing Mode</h1>
    </ion-header-bar>
    <ion-content class="bColor" has-header="true" padding="true">
      <form id="pairing-mode" ng-submit="processPairingForm()">
      <!-- <h3 class="center">Pairing Mode</h3> -->
      <button class="button icon-left ion-chevron-left button-clear button-dark" ui-sref="createProfile";>Back</button>
<!--       <button type="submit" class="button icon-right ion-chevron-right button-clear button-dark" style="float: right" ui-sref="userProfile";>Next</button>
 -->
    </br>

    <!-- <div class="pad-item2"><label>Who would you like to workout with?</label></div>
    <div class="pad-item3">
      <ul>
        <form action="">
          <input type="radio" name="WorkoutWith" value="Male" ng-model="paringData.genderPreference"> Male<br>
          <input type="radio" name="WorkoutWith" value="Female" ng-model="paringData.genderPreference"> Female<br>
          <input type="radio" name="WorkoutWith" value="Both" ng-model="paringData.genderPreference"> Both<br>
        </form>
      </ul>
    </div> -->

    <div class="pad-item"><h3>Who would you like to workout with?</h3></div>
      <div class="list">
        <label class="item item-radio">
          <input type="radio" name="group">
          <div class="item-content">
             Male
           </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-radio">
          <input type="radio" name="group">
          <div class="item-content">
             Female
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-radio">
           <input type="radio" name="group">
           <div class="item-content">
              Both
           </div>
           <i class="radio-icon ion-checkmark"></i>
        </label>
      </div>

    </br>
    <!-- <div class="pad-item2"><label>When would you like to workout?</label></div>
    <div class="pad-item3">
      <ul>
        <form action="">
          <input type="radio" name="WorkoutTime" value="ASAP" ng-model="paringData.workoutTime"> ASAP<br>
          <input type="radio" name="WorkoutTime" value="Tomorrow" ng-model="paringData.workoutTime"> Tomorrow<br>
          <input type="radio" name="WorkoutTime" value="This Week" ng-model="paringData.workoutTime"> This Week<br>
        </form>
      </ul>
    </div> -->

    <div class="pad-item"><h3>When would you like to workout?</h3></div>
      <div class="list">
        <label class="item item-radio">
          <input type="radio" name="group">
          <div class="item-content">
             As Soon As Possible
           </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-radio">
          <input type="radio" name="group">
          <div class="item-content">
             Tomorrow
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-radio">
           <input type="radio" name="group">
           <div class="item-content">
              This Week
           </div>
           <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-radio">
           <input type="radio" name="group">
           <div class="item-content">
              Specific Day
           </div>
           <i class="radio-icon ion-checkmark"></i>
        </label>
      </div>

    </br>

    <div class="pad-item"><h3>If on a specific day, when?</h3></div>
    <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">Month</div>
          <select ng-model="formData.month" ng-options="x for x in months">
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">Day</div>
          <select ng-model="formData.day" ng-options="x for x in days">
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">Year</div>
          <select ng-model="formData.year" ng-options="x for x in years">
          </select>
        </label>
    </div>

         <button type="submit" class="button icon-right ion-chevron-right button-clear button-dark" style="float: right" ui-sref="mainMenu";>Next</button>

        <!-- <button type="submit" class="button icon-right ion-chevron-right button-calm" ui-sref="userProfile" style="float: right";>Done</button> -->
      </form>
    </ion-content>
  </ion-view>